@import "tailwindcss";
@plugin "./hero.ts";
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

* {
  min-height: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background overflow-x-clip;
}
